#################
# Visual Studio #
#################
/.vs/
/.venv/
/src/virtualdj_mcp_server.egg-info/
uv.lock

##########
# Python #
##########
*pyc
/src/__pycache__/
/TestResults/
/.pytest_cache/

#############
# Programme #
#############
/log/
